<div class="container">
    <div class="error-message">
        <img src="../assets/img/401Banner.png" alt="Imagen de error" width="300">
        <h1 class="error-code">401</h1>
        <p class="error-description">Lo sentimos, esta es una pagina protegida, no estas autorizado.</p>
    </div>
</div>
