<div class="container" style="background-color: #dfdddd73;">
    <br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Usuario</th>
                <th scope="col">Nombre de usuario</th>
                <th scope="col">Correo</th>
                <th scope="col">Roles</th>
                <th scope="col">Estado</th>
                <th scope="col" *ngIf="isAdmin">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 5, currentPage: page };">
                <th scope="row">{{ usuario.id }}</th>
                <td>{{ usuario.firstname }} {{usuario.lastname }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td *ngFor="let rol of usuario.roles">{{ rol.name == "ROLE_VIGILANTE"? "Vigilante":(rol.name ==
                    "ROLE_GUARDIA"?"Guardia":"Administrador") }}</td>
                <td>{{ usuario.status == "A"? "Activo" : "Inactivo" }}</td>
                <td *ngIf="isAdmin">
                    <div class="d-flex gap-2 ">
                        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-confirmacion"
                            (click)="obtenerUsuario(usuario)">Eliminar<i class="bi bi-trash-fill"></i></a>
                        <a class="btn btn-warning" (click)="obtenerUsuarioId(usuario)">Editar<i
                                class="bi bi-pencil-fill"></i></a>
                    </div>

                </td>

            </tr>


        </tbody>

    </table>

    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
        nextLabel="Siguiente"></pagination-controls>

    <div class="center-cell">
        <button *ngIf="" class="btn btn-info m-2" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#modal-nuevoUsuario">Agregar nuevo <i class="bi bi-person-add"></i></button>
    </div>

    <app-nuevo-usuario (usuarioGuardado)="onUsuarioGuardado($event)"></app-nuevo-usuario>

    <app-modal-eliminar [idUsuarioAEliminar]="usuarioSeleccionado"
        (eliminarUsuario)="delete($event)"></app-modal-eliminar>
    <br>
</div>
