.derecha {
  text-align: right;
}

.example-spacer{
    flex: 1 1 auto;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-cell {
  text-align: center;
}

 .miclase {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100vh;
}