  .container {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100vh;
  }

  .content {
    width: 50%;
    padding: 20px;
  }

  .title {
    font-size: 32px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 5px;
  }

  .subtitle {
    font-size: 24px;
    color: #555555;
    margin-bottom: 10px;
  }

  .paragraph {
    font-size: 16px;
    color: #777777;
    margin-bottom: 400px;
  }