<div class="text">
    <div class="container">
        <div class="content">
            <h1 class="title">Welcome...</h1>
            <p class="paragraph">Insert text here.</p>
        </div>

        <ul class="">
          
                <a class="nav-link px-2 link-body-emphasis" routerLink="/usuario">Usuarios <i class=""></i></a>
            

        </ul>
    </div>
</div>
