<mat-toolbar color="primary">
    <nav class="p-3 mb-3 fixed-top" style="background-color: rgb(138, 145, 247);">

        <div class="container-fluid">

            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <a routerLink="/"
                    class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    Inicio
                    <i class="bi bi-menu"></i>

                </a>

                <div *ngIf="isLogged" class="example-spacer">

                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{usuarioLogged!.firstname}} {{usuarioLogged!.lastname}} <i class=""></i>
                    </a>

                    <ul class="dropdown-menu text-small" style="background-color:  rgb(138, 145, 247);">
                        <li><a class="dropdown-item" routerLink="/usuario/myprofile">Perfil <i class=""></i></a></li>
                        <li><a class="dropdown-item" (click)="logout()">Cerrar sesión <i class=""></i></a></li>
                    </ul>
                </div>

                <span class="example-spacer"></span>
                <div *ngIf="!isLogged" class="text-end">
                    <a type="button" class="btn btn-" routerLink="/login">Inicia sesión <i
                            class="bi bi-box-arrow-in-left"></i></a>
                    <a type="button" class="btn btn-dark" routerLink="/register">Registrate <i
                            class="bi bi-pencil-square"></i></a>
                </div>

            </div>
        </div>
    </nav>
</mat-toolbar>
