<div class="modal fade" id="modal-nuevoUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Creacion de nuevo usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form (ngSubmit)="guardar()" [formGroup]="form">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="firstname" id="input-nombre"
                                placeholder="Nombre" required>
                            <label for="floatingInput">Nombre</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="lastname" id="input-apellido"
                                placeholder="Apellido" required>
                            <label for="input-apellido" class="form-label">Apellido</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="username" id="input-apellido"
                                placeholder="Username" required>
                            <label for="input-username" class="form-label">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" formControlName="email" id="input-email"
                                placeholder="name@example.com" required>
                            <label for="input-email" class="form-label">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" formControlName="password" id="input-clave"
                                placeholder="clave" required>
                            <label for="input-clave" class="form-label">Clave</label>
                        </div>
                        <div class="mb-3">
                            <label for="input-roles" class="form-label">Roles</label>
                            <select class="form-select" formControlName="roles" id="input-roles">
                                <option *ngFor="let role of roles" [value]="toJson(role)">{{ role.name }} </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="input-estado" class="form-label">Estado</label>
                            <select class="form-select" formControlName="status" id="input-estado">
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
