<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-1">
                                    <h5 class="card-title text-center pb-0 fs-4">Create una cuenta</h5>
                                    <p class="text-center small">Ingresa tus datos para registrarte</p>
                                </div>
                                <form (ngSubmit)="guardar()" [formGroup]="form" class="row g-3 needs-validation">
                                    <div class="form-floating mb-1 col-12">
                                        <input type="text" class="form-control" formControlName="firstname"
                                            placeholder="Nombre" required />
                                        <label for="input-nombre" class="form-label"> Nombre</label>
                                    </div>

                                    <div class="form-floating mb-1 col-12">
                                        <input type="text" class="form-control" formControlName="lastname"
                                            placeholder="Apellido" required />
                                        <label for="input-apellido" class="form-label"> Apellido</label>
                                    </div>

                                    <div class="form-floating mb-1 col-12">
                                        <input type="text" class="form-control" formControlName="username"
                                            placeholder="Username" required />
                                        <label for="input-username" class="form-label"> Username</label>
                                    </div>

                                    <div class="form-floating mb-1 col-12">
                                        <input type="text" class="form-control" formControlName="email"
                                            placeholder="Email" required />
                                        <label for="yourUsername" class="form-label"> Email</label>
                                    </div>

                                    <div class="form-floating mb-1">
                                        <input type="password" class="form-control" formControlName="password"
                                            id="input-clave" placeholder="clave" required />
                                        <label for="input-clave" class="form-label"> Clave</label>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" name="terms" type="checkbox" value=""
                                                id="acceptTerms" required>
                                            <label class="form-check-label" for="acceptTerms">Estoy de acuerdo con los
                                                <a routerLink="/">Termminos y condiciones</a></label>
                                            <div class="invalid-feedback">You must agree before submitting.</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Crear cuenta</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">¿Ya tienes una cuenta?<a routerLink="/login"> Inicia
                                                sesión</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>
