<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                <div class="d-flex justify-content-center py-4">
                    <a href="index.html" class="logo d-flex align-items-center w-auto">

                    </a>
                </div>

                <div class="card mb-3">

                    <div class="card-body">

                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Ingresa con tu cuenta</h5>
                            <p class="text-center small">Ingresa tu nombre de usuario y clave</p>
                        </div>

                        <form (ngSubmit)="guardar()" [formGroup]="form" class="row g-3 needs-validation">

                            <div class="form-floating mb-2 col-12">
                                <input type="text" name="username" formControlName="username" class="form-control"
                                    placeholder="Nombre de usuario" required>
                                <label for="yourUsername" class="form-label">Username</label>
                            </div>

                            <div class="form-floating mb-2 col-12">
                                <input type="password" class="form-control" formControlName="password" id="input-clave"
                                    placeholder="Clave" required />
                                <label for="yourPassword" class="form-label">Password</label>
                            </div>

                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="remember" value="true"
                                        id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Recuerdame</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Ingresar</button>
                            </div>
                            <div class="col-12">
                                <p class="small mb-0">¿Aún no tienes una cuenta? <br><a routerLink="/register">Crea una
                                        cuenta</a></p>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
